* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	background-color: hsl(235, 18%, 26%);
}

/* Main contaier styles: */
.main-container {
	align-self: center;
	display: flex;
	align-self: center;
	padding: 10px;
	width: fit-content;
	background-color: hsl(0, 0%, 100%);
	border-radius: 10px;
	/* display: none; */
}
.left-column {
	padding: 20px;
	width: 400px;
}

.heading-text {
	margin: 0 0 20px 0;
}

.paragraph-text {
	margin: 0 0 20px 0;
}

.list-row {
	display: flex;
}

.list-icon {
	margin: 0 10px 0 0;
}

.list-text {
	margin: 0 0 10px 0;
}

.form-div {
	margin: 20px 0 0 0;
	display: flex;
	flex-direction: column;
}

.label-row {
	display: flex;
	justify-content: space-between;
}

.email-label {
	margin: 0 0 5px 0;
}

.error-text {
	color: hsl(4, 100%, 67%);
	display: none;
}

.email-input {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	outline: none;
	border: 1px solid hsl(231, 7%, 60%);
	cursor: pointer;
}

.email-input:focus {
	border: 1px solid hsl(234, 29%, 20%);
	outline: none;
}

.subscribe-button {
	color: hsl(0, 0%, 100%);
	padding: 10px;
	margin: 15px 0 0 0;
	background-color: hsl(234, 29%, 20%);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;
}

.subscribe-button:hover {
	background-color: hsl(4, 100%, 67%);
}

.illustration-desktop {
	width: 250px;
}

/* Success container styles: */
.success-container {
	padding: 30px;
	width: 300px;
	align-self: center;
	background-color: hsl(0, 0%, 100%);
	border-radius: 20px;
	display: none;
}

.success-image {
}

.success-heading {
	font-weight: 700;
	margin: 20px 0 10px 0;
}

.success-text {
	margin: 0 0 10px 0;
}

.subscribed-email-span {
	font-weight: 700;
}

.success-button {
	padding: 10px;
	color: hsl(0, 0%, 100%);
	width: 100%;
	background-color: hsl(234, 29%, 20%);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;
}

.success-button:hover {
	background-color: hsl(4, 100%, 67%);
}

@media (max-width: 475px) {
	/* Main contaier styles: */
	.main-container {
	}

	.heading-text {
	}

	.paragraph-text {
	}

	.list-row {
	}

	.list-icon {
	}

	.list-text {
	}

	.email-label {
	}

	.email-input {
	}

	.subscribe-button {
	}

	/* Success container styles: */
	.success-container {
	}

	.success-image {
	}

	.heading-text {
	}

	.success-text {
	}

	.subscribed-email-span {
	}

	.success-button {
	}
}
